/* OVERRIDES */

.navbar-default {
    background-image: none;
    background-repeat: none;
    border-radius: 0;
    box-shadow: none;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a {
    background-image: none;
    background-repeat: none;
    box-shadow: none;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #333;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
/*    background-color: rgba(200,200,200,0.15);*/
    background-color: #3698db;
    border-radius: 4px;
}

.container {
	max-width: 800px;
}

/* HELPER CLASSES */

.center { text-align: center; }
.h3 { font-size: 24px; }

/* COOL ELEMENTS */

.id-block {
	display: inline-block;
	padding: 9px;
	border: 3px dashed #eee;
	border-radius: 9px;
	margin: 6px;
}


.id-block:hover {
	
	border: 3px dashed #3698db;
	
}

.id-set {
	padding-top: 20px;
}


